*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-shadow: border-box;
  -webkit-box-shadow: border-box;
  box-shadow: border-box;
}
*:before, *:after {
  content: "";
}

html, body {
  height: 100%;
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 100%;
  font-family: monospace;
  background-color: #1e1e1e;
  color: #fff;
}

.squiggly-filters {
  display: none;
}

.thing {
  padding: 1em;
  width: 100%;
  text-align: center;
}
.thing h1 {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 3em;
  -moz-animation: squiggly 0.25s linear infinite;
  -webkit-animation: squiggly 0.25s linear infinite;
  animation: squiggly 0.25s linear infinite;
}

@-moz-keyframes squiggly {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}
@-webkit-keyframes squiggly {
  0% {
    -webkit-filter: url("#squiggly-0");
    filter: url("#squiggly-0");
  }
  25% {
    -webkit-filter: url("#squiggly-1");
    filter: url("#squiggly-1");
  }
  50% {
    -webkit-filter: url("#squiggly-2");
    filter: url("#squiggly-2");
  }
  75% {
    -webkit-filter: url("#squiggly-3");
    filter: url("#squiggly-3");
  }
  100% {
    -webkit-filter: url("#squiggly-4");
    filter: url("#squiggly-4");
  }
}
@keyframes squiggly {
  0% {
    -webkit-filter: url("#squiggly-0");
    filter: url("#squiggly-0");
  }
  25% {
    -webkit-filter: url("#squiggly-1");
    filter: url("#squiggly-1");
  }
  50% {
    -webkit-filter: url("#squiggly-2");
    filter: url("#squiggly-2");
  }
  75% {
    -webkit-filter: url("#squiggly-3");
    filter: url("#squiggly-3");
  }
  100% {
    -webkit-filter: url("#squiggly-4");
    filter: url("#squiggly-4");
  }
}